In [1]:
a=[1,2,3,4,5]
print(a[::2])
print(a[-2:])

[1, 3, 5]
[4, 5]

In [2]:
import pandas as pd
data = pd.read_excel("sz50.xlsx",sheetname=0,index_col="datetime")
a = data.resample("M").last()
a

             close    high     low    open    volume
datetime
2017-01-31  119.41  119.91  118.27  118.84   8602907
2017-02-28  118.06  118.70  117.70  118.06  12097443
2017-03-31  114.00  114.29  112.29  112.36  24174320
2017-04-30  108.30  108.38  107.38  107.88  15718209
2017-05-31  120.37  122.25  118.69  119.25  56619400
2017-06-30  118.59  119.34  118.03  119.06  17082300
2017-07-31  125.25  126.75  124.78  126.00  23334700
2017-08-31  119.16  120.37  118.69  120.19  22988000
2017-09-30  120.66  121.03  120.09  120.19  10955900
2017-10-31  118.22  118.69  117.94  118.22   9330200
2017-11-30  120.47  120.56  118.22  118.97  29413900

In [3]:
b = data.close.resample("M").last()
b

datetime
2017-01-31    119.41
2017-02-28    118.06
2017-03-31    114.00
2017-04-30    108.30
2017-05-31    120.37
2017-06-30    118.59
2017-07-31    125.25
2017-08-31    119.16
2017-09-30    120.66
2017-10-31    118.22
2017-11-30    120.47
Freq: M, Name: close, dtype: float64

In [ ]:
import talib as ta
CCIQ = ta.CCI(data1.high,data1.low,data1.close,timeperiod=10).dropna()
CCIQ.tail()